{% extends 'base.html' %}

{% block title %}文档{% endblock %}

{% block head %}

{% endblock %}

{% block main %}

<div class="container">
    <h2>v2ray配置与使用</h2>
    <h3>工作机制</h3>
    <P>和其它的网络代理工具一样，你需要在一台配置了 V2Ray 的服务器，然后在自己的设备上安装 V2Ray 客户端，然后即可流畅地访问互联网。</P>
    <img src="../static/images/v2ray_workflow.png" width=100%>
    <h3>客户端配置</h3>
    <p>服务器端已经配置完成，只需要自行配置客户端。</p>
    <p>1. 客户端下载地址:<a href="../static/software/v2rayN-Core.zip" >点击下载</a></p>
    <p>2. 解压，并打开文件v2ray.exe</p>
    <p>3. 复制下面的连接</p>
    <p style="word-break: break-all">
        vmess://ew0KICAidiI6ICIyIiwNCiAgInBzIjogIiIsDQogICJhZGQiOiAiaHVhbmdoYW8uc3BhY2UiLA0KICAicG9ydCI6ICIxMDgwIiwNCiAgImlkIjogImI4MzEzODFkLTYzMjQtNGQ1My1hZDRmLThjZGE0OGIzMDgxMSIsDQogICJhaWQiOiAiMCIsDQogICJuZXQiOiAidGNwIiwNCiAgInR5cGUiOiAibm9uZSIsDQogICJob3N0IjogIiIsDQogICJwYXRoIjogIiIsDQogICJ0bHMiOiAiIg0KfQ==
    </p>
    <p>
        4. 在面板中操作：服务器 -> 从剪切板导入批量URL -> 右键桌面右下角v图标 -> http代理 -> 开启PAC
    </p>
    <p>
        5. 开始网上冲浪~
    </p>


</div>


{% endblock %}