{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
        <div class="h1">致敬伟大的龚哥！</div>
        <p>21世纪伟大的篮球领袖；</p>
        <p>浔城玫瑰，永不凋零；</p>
        <p>宏远篮球，广东新星；</p>
        <p>豁达有志精神文明创始人。</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">我想了解豁达有志！</a></p>
    </div>
</div>

{% for message in messages %}

<div class="container-fluid" >
    <div class="row row-same-height">
        <div class="col-md-8 col-md-offset-2">
            <div class="h3">{{ message.title }}</div>
            <p>{{message.content}}</p>

        </div>
        <div class="col-md-2" style="margin-top: 40px">
            <p class="text-right">{{ message.author.username }}</p>
            <p class="text-right">{{message.create_time}}</p>
        </div>



    </div>

<br>
</div>

{% endfor %}


{% endblock %}