<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Huang Hao‘s Space</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <style>

    </style>
</head>
<body>
<div id="login">
<h1><img src="../static/images/nanren_log.png"></h1>
<p id="welcome_message">{{message}}</p>
<form method="post">
    <input type="text" required="required" placeholder="用户名" name="username">
    <input type="password" required="required" placeholder="密码" name="password">
    <button class="but" type="submit">登录</button>
</form>
</div>

</body>
</html>