<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Huang Hao‘s Space</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <style>

    </style>
</head>

<body>
<div id="register">
    <p id="welcome_message">{{message}}</p>
    <form  method="post">
        <input type="text" required="required" placeholder="用户名" name="username">
        <input type="tel" required="required" placeholder="手机号" name="telephone">
        <input type="password" required="required" placeholder="密码" name="password">
        <input type="password" required="required" placeholder="请再输一次密码" name="repassword">
        <p id="question1">男人帮里的G.O.A.T最爱的球星：</p>
        <input type="text" required="required" placeholder="永不凋零（请输入中文名）" name="answer">
        <button class="but" type="submit">注册！</button>
    </form>


    </div>


</body>
</html>